
body{
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}

header{
    background-color: rgb(140, 24, 218);
    box-shadow: 1px 2px 1px rgb(146, 146, 146); 
}

nav{
    width: 500px;
}

a{
    color: rgb(208, 140, 240);
    text-decoration: none;
}

a:hover{
    color: #70FADE;
}

.wrapper{
    margin:0 10%;
}

.header--container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header--left{

}

.header--left__logo{
    color:#70FADE;
    font-size: 50px;
    font-weight: 500;
}

.header--left__logo a{
    color:#70FADE;
}

.header--left__logo a:hover{
    color: rgb(208, 140, 240);
}

.nav--list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    
}

.nav--list__item{
    font-size: 17px;
    font-weight: 500;
}

.toggle--nav{
    display: none;
}

@media screen and (max-width: 1200px){
    nav{
        width: 400px;
    }
    
}

@media screen and (max-width: 900px){
    .toggle--nav{
        display: block;
        font-size: 30px;
        margin: 10px;    
    }

    .toggle--nav:after{
        content: "≡";
        font-size: 45px;
    }

    .nav--list {
        display: none;
    }
    .wrapper{
        margin: 0 5%;
    }
    nav{
        width: 100%;
    }

    .active{
        display: block;
        position: absolute;
        top: 104px;
        background-color: rgb(140, 24, 218);
        box-shadow: 1px 2px 1px rgb(146, 146, 146);
        padding: 25px;
        width: 100%;
        text-align: right;
        right: 0;
        border-top: 2px solid #70FADE;
    }

    .active .nav--list__item{
        font-size: 30px;
    }

    .active--btn:after{
        content: "⨯";
        font-size: 43px;
    }
}

@media screen and (max-width: 600px){
    
}